use std::time::Instant;

use utils;

fn part_1(path: &str) -> i64 {
    let contents = utils::parse_file(path);

    for line in contents.lines() {
        println!("{:?}", line);
    }
    1
}

fn main() {
    println!();
    println!("🎄🎁 Advent of Code: Day {{DAY}} 🎁🎄");
    println!("------------------------------\n");

    let start = Instant::now();

    // // Challenge 1
    println!("{}: {}", utils::color_text("[Part 1]", 'g'), part_1("input.txt"));
    // // Challenge 2
    // println!("{}: {}", utils::color_text("[Part 2]", 'g'), part_2("input.txt"));

    println!("{}: {}", utils::color_text("[Summary]", 'b'), start.elapsed().as_micros());
}

#[cfg(test)]
mod test {
    use super::*;

    #[test]
    fn test_part1() {
        assert!(part_1("test_input.txt") == 0);
    }
}
